<% @users.each do |user| %>
	<%= link_to user_notes_path(session[:id],:filter_user=>user[0]) do %>
		<span class="username">@<%= user[0]%></span>
		<span class="usercount"><%= user[1] %></span>
	<% end %>
<% end %>