<div class="users edit">
	<h4>Edit Profile</h4>
	<%= form_for @user do |f| %>
		<%= render :partial=>"/shared/user_form",:locals=>{:f=>f,:new_user=>false} %>
		<%= f.button "Update profile" %>
	<% end %>
</div>