.right-container {
    display: flex;
    flex-direction: column;
    padding-top: percent($middle-padding-t, $main-width);
    padding-right: percent($middle-padding-l, $main-width);
    width: percent($right-width, $main-width);

    @include respond-to(landscape) {
        display: none;
    }
}


/* input search box */

.search {
    max-width: 260px;
    width: auto;
    position: relative;
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 11px 33px 11px 15px;
        @include shadow(1px, 2px);
        outline: 0;
        border: 1px solid $hr;
        border-radius: 2px;
        font-weight: $light;
    }
    /* Search glyphicon */
    .fa {
        position: absolute;
        //left: 225px;
        right: 16px;
        top: 14px;
        opacity: 0.5;
    }
}


/* Tabs & Users switcher */

.search-results {
    max-width: 260px;
    width: auto;
    @include shadow(1px, 2px);
    background-color: white;
    border: 1px solid $hr;
    margin-top: 22px;
    border-radius: 2px;
    /* Header of tablinks */
    .tab-links {
        position: relative;
        padding-left: 2px;
        padding-right: 2px;
     @include respond-to(lgmobile) {
                padding:0;
            }
        border-bottom: 1px solid $hr;
        a {
            font-weight: $normal;
            color: $light-text;
            padding: 12px 1px 12px 1px;
            text-align: center;
            display: inline-block;
        }
        a:first-child {
            //tab tag
            width: 40%;
            @include respond-to(lgmobile) {
                width: 100%;
                text-align: center;
            }
        }
        a:nth-child(2) {
            //user-tab
            width: 58%;
            @include respond-to(lgmobile) {
                width: 100%;
                text-align: center;
            }
        }

        a.active {
            border-bottom: 1px solid $main-color;
            font-weight: $bold;
            color: $main-color;
            @include respond-to(lgmobile) {
                border-left:2px solid $main-color;
                border-bottom:0;
            }
        }
    }
    /* Content for tabs & users */
    .tab-content {
        max-height: 300px;
        overflow: auto;
        min-height: 200px;
        padding: 11px 0px;
        a {
            display: block;
            padding: 11px 30px;
        }
        a:hover {
            background-color: $hover-bg;
        }
        .tagcount,
        .usercount {
            display: inline-block;
            float: right;
        }
        /* Tags content */
        .tags a {
            @include transition(all, 0.1s, ease);
            color: $tag-color;
            &:hover {
                background-color: $hover-bg;
            }
            &:active {
                color: $complement;
            }
        }
        /* Users Content */
        .users a {
            @include transition(all, 0.1s, ease);
            color: $user-color;
            &:hover {
                background-color: $hover-bg;
            }
            &:active {
                color: $complement;
            }
        }
        div {
            display: none;
        }
        .visible {
            display: block;
        }
    }
}



/* end search-results */
