
.left-container {

    //positions
    position: fixed;
    width: percent($left-width,$width);
    top: 0;
    bottom: 0;
    left: 0;
    //color & design
    background-color: $main-color;
    color: white;


    /* Media Queries */
    @include respond-to(tablet){
        display:none;
    }    

    //logo
    #notely {
        position: relative;
        font-family: $notely-font, "Roboto", "Verdana";
        width: percent($left-width * 3 / 5,$left-width);
        margin: 0 auto;
        font-weight: $light;
        @include em(70);
        text-align: center;
        padding-bottom: percent($logo-pad-b,$left-width);
        padding-top: percent($logo-pad-t,$left-width);
        border-bottom: 2px solid white;
    }
    //list navigation
    ul {
        padding-top: $list-seperation;
        .each-list-set {
            margin-top: percent(30px,$left-width);
        }
        li {
            margin-top: $li-margin-t;
            text-align: right;
            margin-right: $li-margin-r;
        }
        a {
            cursor: pointer;
            text-align: right;
            color: #eee;
            font-weight: $light;
            @include transition(all, 0.2s, ease);
            right: 0;
            position: relative;
        }
        a:hover {
            right: 6px;
            color: $complement;
            i,
            span {
                color: $complement;
            }
        }
        .bold-link {
            color: $bold-heading;
            font-weight: $medium;
        }
    }
    //fix glyphs icons position
    .each-list-set {
        .glyphs {
            display: inline-block;
            width: 19px;
            position: relative;
            top: 0px;
            margin-left: 4px;
        }
        span.glyphs {
            // entypo icons needs to be moved down
            top: 2px;
        }
    }
}

